# makefile fragment for m68k-amigaos / gcc

#CRT_FLAGS = -mcrt=clib2
CRT_FLAGS = -noixemul

CFLAGS += $(CRT_FLAGS)
LDFLAGS+= $(CRT_FLAGS)

INCLUDE+= -I../include/stdint
LDFLAGS+= -lm
CFLAGS += -DWORDS_BIGENDIAN=1

# avoid conflicts between our stdint.h and ixemul sys/types.h
CFLAGS += -D_ANSI_SOURCE
